.container__body {
    height: auto;
    padding-bottom: 50px;
}
.carte_pokemon {
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 15px solid black;
    width: 500px;
    height: 500px;
    margin: 4px auto;
    border-radius: 5px;
}
img {
    height: 400px;
    width: 400px;
}

.mosaique {
    display: flex;
    flex-wrap: wrap;
}
.colonne{
    display: block;    
}
.btn_position-img {
    text-align: center;
    margin:0 auto;
}
.btn_position{
    margin-bottom: 10px;
}
.btnmosaique {
    height: 50px;
    width: 200px;
    margin-right: 50px;
    margin-left: 50px;
}
#btnAjoutImg {
    margin-right: 50px;
    margin-left: 50px;
}
#valider {
    margin-right: 50px;
    margin-left: 50px;
}
.btncolonne{
    height: 50px;
    width: 200px;
    margin-left: 50px;
}
.btnrefresh {
    margin-right: 50px; 
    margin-left: 50px;  
}
.post {
    text-align: center;
    margin-top: 10px;
    border: 15px solid black;
    width: 500px;
    height: 500px;
    margin: 4px auto;
    border-radius: 5px;
}
footer {
    margin-bottom: 0;
    margin-top: 1955px;
}
#form {
   text-align: center;
   display: none;
}