.container__publicite-img {
    background-color: antiquewhite;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}

.container__button-ajouter  {
    text-align: center;
    background-color: aliceblue;
    margin-top: 40px;
    margin-right: 100px;
    margin-left: 100px;
}
.container__post {
    text-align: center;
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 50px;
    height: 200px;
}
.post {
    background-color: rgb(187, 187, 187);
    color: rgb(0, 0, 0);
    text-align: center;
    width: 500px;
    border-radius: 3px;
}
.response {
   font-style: italic;
}
#form {
    display: none;
}
