body{
    margin: 0;
}
nav {
    background-color: rgb(218, 218, 218);
    text-align:center;
    height: 30px;
    padding-top: 15px;
    position: sticky;
}
a {
    margin-left: 40px;
    margin-right: 40px;
    text-decoration: none;
}
.container__topbar {
    background-color: rgb(255, 255, 255);
}
.container__background-img{
    background-image: url('../img/sunset-g024115920_1280.jpg');
    background-size: cover;
    background-position: center;
}
.__image-header {
    height: 500px;
    margin: 0;
}